<a href="https://colab.research.google.com/github/kimsam0103/demo_test/blob/master/Module%200/Session%206/m0s6nb03_nested_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Nested Data

### Now that we have covered the different data structures that we will use in Module 0, we now introduce `Nested Data`.

### If you want to be successful in this course, you `ABSOLUTELY MUST` understand how to work with nested data.

### Every notebook and every exam will require you to manipulate nested data in some way.

#### Main data structures in Python -
1. Lists
2. Tuples
3. Dictionaries
4. Sets

#### You can nest these data structures one inside the other. For example -
1. List of lists
2. List of tuples
3. List of dictionaries
4. Dictionary of lists
5. Dictionary of dictionaries
6. Dictionary of lists of dictionaries.....
etc.

#### You `MUST` know how to handle a complex nested data to get the information you want.

#### The methodology (you will want to understand and use) is to go step by step and understand how the complex nested data is structured.


Let's see some examples to get more idea about these nested data structures -

In [1]:
# a fairly simple nested data structure
# dictionary of dictionaries
details_dict = {
  "firstName": "John",
  "lastName": "Smith",
  "isAlive": True,
  "age": 25,

    "address": {
    "streetAddress": "21 2nd Street",
    "city": "New York",
    "state": "NY",
    "postalCode": "10021-3100"},

  "phoneNumbers": {
    "home":   {
                "type": "home",
                "number": "212 555-1234"
              },
    "office":{
               "type": "office",
               "number": "646 555-4567"
             },
    "modile":{
               "type": "mobile",
               "number": "123 456-7890"
             }
  },
  "children": ["Alice", "Ben"],
  "spouse": None

}

#### The site PythonTutor is fantastic for visualizing these data structures.

Let's take our details_dict over there and see what it looks like.

https://pythontutor.com/python-debugger.html#mode=edit

#### Now let's look at one that is a bit more complex.

In [2]:
nested_data = {
    "ApartmentBuilding":{
        "Address":{
            "HouseNumber": 5,
            "Street": "DataStreet",
            "ZipCode": 5100
        },
        "Apartments":[
            {
                "Number": 1,
                "Price": 500,
                "Residents": [
                    {
                        "Name": "Bob",
                        "Age": 45
                    },
                    {
                        "Name": "Alice",
                        "Age": 33
                    }
                ]
            },
            {
                "Number": 2,
                "Price": 750,
                "Residents": [
                    {
                        "Name": "Jane",
                        "Age": 28
                    },
                    {
                        "Name": "William",
                        "Age": 29
                    }
                ]
            },
            {
                "Number": 3,
                "Price": 1000,
                "Residents": []
            }
        ]
    }
}

#### What does it look like in Python Tutor?

*****************************************************

#### Now let's look at how to address this with code. At each step below, we will go back to Python Tutor to cross-reference the data structure's visual representation with the syntax of how we are addressing each element.

In [3]:
type(nested_data)

dict

In [18]:
# note that the dictionary contains a single key and single value
# the single value is a dictionary with 2 keys
for key , value in nested_data.items():
    display("Key : {} ,\n Value : {}\n".format(key,value))

"Key : ApartmentBuilding ,\n Value : {'Address': {'HouseNumber': 5, 'Street': 'DataStreet', 'ZipCode': 5100}, 'Apartments': [{'Number': 1, 'Price': 500, 'Residents': [{'Name': 'Bob', 'Age': 45}, {'Name': 'Alice', 'Age': 33}]}, {'Number': 2, 'Price': 750, 'Residents': [{'Name': 'Jane', 'Age': 28}, {'Name': 'William', 'Age': 29}]}, {'Number': 3, 'Price': 1000, 'Residents': []}]}\n"

In [19]:
len(nested_data)

1

Addressing the highest level key in the overall dictionary.

In [22]:
for key, value in nested_data.items():
  display("Key: {} ,\n Value: {}".format(key, value))

"Key: ApartmentBuilding ,\n Value: {'Address': {'HouseNumber': 5, 'Street': 'DataStreet', 'ZipCode': 5100}, 'Apartments': [{'Number': 1, 'Price': 500, 'Residents': [{'Name': 'Bob', 'Age': 45}, {'Name': 'Alice', 'Age': 33}]}, {'Number': 2, 'Price': 750, 'Residents': [{'Name': 'Jane', 'Age': 28}, {'Name': 'William', 'Age': 29}]}, {'Number': 3, 'Price': 1000, 'Residents': []}]}"

In [24]:
for key, value in nested_data['ApartmentBuilding'].items():
  display("Key: {} \n Value: {}".format(key, value))

"Key: Address \n Value: {'HouseNumber': 5, 'Street': 'DataStreet', 'ZipCode': 5100}"

"Key: Apartments \n Value: [{'Number': 1, 'Price': 500, 'Residents': [{'Name': 'Bob', 'Age': 45}, {'Name': 'Alice', 'Age': 33}]}, {'Number': 2, 'Price': 750, 'Residents': [{'Name': 'Jane', 'Age': 28}, {'Name': 'William', 'Age': 29}]}, {'Number': 3, 'Price': 1000, 'Residents': []}]"

In [25]:
for key, value in enumerate(nested_data['ApartmentBuilding']['Apartments']):
  display("Key: {} \n Value: {}".format(key, value))

"Key: 0 \n Value: {'Number': 1, 'Price': 500, 'Residents': [{'Name': 'Bob', 'Age': 45}, {'Name': 'Alice', 'Age': 33}]}"

"Key: 1 \n Value: {'Number': 2, 'Price': 750, 'Residents': [{'Name': 'Jane', 'Age': 28}, {'Name': 'William', 'Age': 29}]}"

"Key: 2 \n Value: {'Number': 3, 'Price': 1000, 'Residents': []}"

In [27]:
for structure in nested_data['ApartmentBuilding']['Apartments'][0]['Residents']:
  print(structure)

{'Name': 'Bob', 'Age': 45}
{'Name': 'Alice', 'Age': 33}

In [30]:
for key, value in nested_data['ApartmentBuilding']['Apartments'][0]['Residents'][0].items():
  print("key : {} | value: {}".format(key, value))

key : Name | value: Bob
key : Age | value: 45

In [6]:
# how to address the highest level key
type(nested_data['ApartmentBuilding'])

dict

Now we see how to address the dictionary that is the value of the highest level key.

In [7]:
for key , value in nested_data['ApartmentBuilding'].items():
    print("Key : {} | Value : {}\n".format(key,value))

Key : Address | Value : {'HouseNumber': 5, 'Street': 'DataStreet', 'ZipCode': 5100}

Key : Apartments | Value : [{'Number': 1, 'Price': 500, 'Residents': [{'Name': 'Bob', 'Age': 45}, {'Name': 'Alice', 'Age': 33}]}, {'Number': 2, 'Price': 750, 'Residents': [{'Name': 'Jane', 'Age': 28}, {'Name': 'William', 'Age': 29}]}, {'Number': 3, 'Price': 1000, 'Residents': []}]

Now we go one level down, to the list that is the value of the 'Apartments' key.

In [8]:
type(nested_data['ApartmentBuilding']['Apartments'])

list

In [9]:
# using enumerate
# this is a list of dictionaries
for i , structure in enumerate(nested_data['ApartmentBuilding']['Apartments']):
    print("Structure {} : {}".format(i , structure))

Structure 0 : {'Number': 1, 'Price': 500, 'Residents': [{'Name': 'Bob', 'Age': 45}, {'Name': 'Alice', 'Age': 33}]}
Structure 1 : {'Number': 2, 'Price': 750, 'Residents': [{'Name': 'Jane', 'Age': 28}, {'Name': 'William', 'Age': 29}]}
Structure 2 : {'Number': 3, 'Price': 1000, 'Residents': []}

The key 'Residents' is a also list of dictionaries. How do we address these?

Let's print out the 'Residents' list items from the first and second dictionaries in the list.

In [10]:
for structure in (nested_data['ApartmentBuilding']['Apartments'][0]['Residents']):
    print(structure)

{'Name': 'Bob', 'Age': 45}
{'Name': 'Alice', 'Age': 33}

Now let's print each dict in the list individually.

In [11]:
print("First dict in the list:")
print(nested_data['ApartmentBuilding']['Apartments'][0]['Residents'][0])
print("Second dict in the list:")
print(nested_data['ApartmentBuilding']['Apartments'][0]['Residents'][1])

First dict in the list:
{'Name': 'Bob', 'Age': 45}
Second dict in the list:
{'Name': 'Alice', 'Age': 33}

Note that there are 2 entries in each dictionary. How do we get the values of each of them?

Using .items():

In [12]:
print("For the first dict:")
for key, value in nested_data['ApartmentBuilding']['Apartments'][0]['Residents'][0].items():
    print("Key : {} | Value : {}".format(key,value))

print("\nFor the second dict:")
for key, value in nested_data['ApartmentBuilding']['Apartments'][0]['Residents'][1].items():
    print("Key : {} | Value : {}".format(key,value))

For the first dict:
Key : Name | Value : Bob
Key : Age | Value : 45

For the second dict:
Key : Name | Value : Alice
Key : Age | Value : 33

#### Here is a data structure and some simple questions that require us to retrieve information from it.

In [13]:
my_family = [
  { "family_name": "Tunnicliffe",
    "num_people": 4,
    "local": True,
    "city": "Bethpage, NY",
    "date_established": 2014,
    "names": ["Diane", "Steve", "Dylan", "Landon"],
    "number_of_children": 2,
    "children": [
      {
        "name": "Dylan",
        "age": 5,
        "favorite_color": "black",
        "nickname": "Dillybeans",
        "loves": "Super Mario",
      },
      {
        "name": "Landon",
        "age": 2,
        "favorite_color": "blue",
        "nickname": "Landybean",
        "loves": "trucks",
      }
    ]
  },
  { "family_name": "Agulnick",
    "num_people": 5,
    "local": False,
    "city": "Newton, MA",
    "date_established": 1987,
    "names": ["Ellen", "Mark", "Diane", "Joshua", "Allison"],
    "number_of_children": 3,
    "children": [
      {
        "name": "Diane",
        "age": 31,
        "favorite_color": "pink",
        "nickname": "Dini",
        "loves": "unicorns",
      },
      {
        "name": "Joshua",
        "age": 28,
        "favorite_color": "red",
        "nickname": "Joshie",
        "loves": "trains",
      },
      {
        "name": "Allison",
        "age": 26,
        "favorite_color": "purple",
        "nickname": "Alli",
        "loves": "candy",
      }
    ]
  }
]

### Q1. Find the names of all children and put into a list.

In [14]:
children = []
for unit in my_family:
    for child in unit['children']:
        children.append(child['name'])
print(children)

['Dylan', 'Landon', 'Diane', 'Joshua', 'Allison']

### Q2. Find names and ages of children in the non-local family unit, put each name and age into a tuple, and put the tuples into a list.

In [15]:
child_ages = []
for unit in my_family:
    if unit['local'] == False:
        for child in unit['children']:
            name_and_age = child['name'], child['age']
            child_ages.append(name_and_age)
print (child_ages)

[('Diane', 31), ('Joshua', 28), ('Allison', 26)]

### Q3. Which child loves Super Mario?

In [16]:
loves_Mario = None
for unit in my_family:
    for child in unit['children']:
        if child['loves'] == 'Super Mario':
            loves_Mario = child['name']
print (f"{loves_Mario} really loves Super Mario.")

Dylan really loves Super Mario.

#### Useful link to understand nested data structures more deeply - https://web.stanford.edu/class/archive/cs/cs106ap/cs106ap.1198/lectures/15-NestedCollections/15-Nested_Data_Structures.pdf

### Q4. Oldest and Youngest child

#### This question uses sorting and lambda functions, which we will be covering later in the bootcamp, so we will not go into it in detail here.

#### However, the code here represents what might be required to solve a 2-point (or simple 3-point) question on an exam, so we leave it here for students to refer back to.

In [17]:
oldest_child = None
youngest_child = None
children = []
for unit in my_family:
    for child in unit['children']:
        children.append(child)
sorted_children = (sorted(children, key = lambda child: child['age'], reverse = True))
oldest_child = sorted_children[0]['name']
youngest_child = sorted_children[-1]['name']
print(f"The oldest child is {oldest_child}. The youngest child is {youngest_child}.")

The oldest child is Diane. The youngest child is Landon.